@charset "utf-8";

ul,li{list-style: none; outline: none;}
a{text-decoration: none;}
a:hover{text-decoration: none; color: inherit;}
a:focus{text-decoration: none; outline: none;}
a:visited{text-decoration: none; outline: none;}

