@font-face {

 font-family:'BebasNeue-Regular';

 src: url('../fonts/BebasNeue_gdi.eot');

 src: url('../fonts/BebasNeue_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue_gdi.woff') format('woff'), url('../fonts/BebasNeue_gdi.ttf') format('truetype'), url('../fonts/BebasNeue_gdi.svg#BebasNeue-Regular') format('svg');

 font-weight: 400;

 font-style: normal;

 font-stretch: normal;

 unicode-range: U+0020-2248;

}



@font-face {

    font-family: 'opificio_neueregular';

    src: url('../fonts/opificio_neue-regular_0-webfont.woff2') format('woff2'),

    url('../fonts/opificio_neue-regular_0-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;



}





@font-face {

    font-family: 'Rage';

    src: url('../fonts/RageItalic.eot');

    src: url('../fonts/RageItalic.eot?#iefix') format('embedded-opentype'),

    url('../fonts/RageItalic.woff') format('woff'),

    url('../fonts/RageItalic.ttf') format('truetype');

    font-weight: normal;

    font-style: italic;

}





 @font-face {

 font-family:'CenturyGothic-Regular';

 src: url('../fonts/CenturyGothic_gdi.eot');

 src: url('../fonts/CenturyGothic_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/CenturyGothic_gdi.woff') format('woff'), url('../fonts/CenturyGothic_gdi.ttf') format('truetype'), url('../fonts/CenturyGothic_gdi.svg#CenturyGothic-Regular') format('svg');

 font-weight: 400;

 font-style: normal;

 font-stretch: normal;

 unicode-range: U+0020-F003;

}

 @font-face {

 font-family:'CenturyGothic-Bold';

 src: url('../fonts/CenturyGothic-Bold_gdi.eot');

 src: url('../fonts/CenturyGothic-Bold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/CenturyGothic-Bold_gdi.woff') format('woff'), url('../fonts/CenturyGothic-Bold_gdi.ttf') format('truetype'), url('../fonts/CenturyGothic-Bold_gdi.svg#CenturyGothic-Bold') format('svg');

 font-weight: 700;

 font-style: normal;

 font-stretch: normal;

 unicode-range: U+0020-F003;

}

 @font-face {

 font-family:'OpenSans-Bold';

 src: url('../fonts/OpenSans-Bold_gdi.eot');

 src: url('../fonts/OpenSans-Bold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold_gdi.woff') format('woff'), url('../fonts/OpenSans-Bold_gdi.ttf') format('truetype'), url('../fonts/OpenSans-Bold_gdi.svg#OpenSans-Bold') format('svg');

 font-weight: 700;

 font-style: normal;

 font-stretch: normal;

 unicode-range: U+0020-25CA;

}

 @font-face {

 font-family:'OpenSans-Regular';

 src: url('../fonts/OpenSans_gdi.eot');

 src: url('../fonts/OpenSans_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans_gdi.woff') format('woff'), url('../fonts/OpenSans_gdi.ttf') format('truetype'), url('../fonts/OpenSans_gdi.svg#OpenSans-Regular') format('svg');

 font-weight: 400;

 font-style: normal;

 font-stretch: normal;

 unicode-range: U+0020-25CA;

}

 @font-face {

 font-family:'OpenSans-Semibold';

 src: url('../fonts/OpenSans-Semibold_gdi.eot');

 src: url('../fonts/OpenSans-Semibold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold_gdi.woff') format('woff'), url('../fonts/OpenSans-Semibold_gdi.ttf') format('truetype'), url('../fonts/OpenSans-Semibold_gdi.svg#OpenSans-Semibold') format('svg');

 font-weight: 600;

 font-style: normal;

 font-stretch: normal;

 unicode-range: U+0020-25CA;

}



@font-face {

	font-family:'MyriadPro-Bold';

	src: url('../fonts/MyriadPro-Bold_gdi.eot');

	src: url('../fonts/MyriadPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),

		url('../fonts/MyriadPro-Bold_gdi.woff') format('woff'),

		url('../fonts/MyriadPro-Bold_gdi.ttf') format('truetype'),

		url('../fonts/MyriadPro-Bold_gdi.svg#MyriadPro-Bold') format('svg');

	font-weight: 700;

	font-style: normal;

	font-stretch: normal;

	unicode-range: U+0020-25CA;

}



@font-face {

	font-family:'MyriadPro-Regular';

	src: url('../fonts/MyriadPro-Regular_gdi.eot');

	src: url('../fonts/MyriadPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),

		url('../fonts/MyriadPro-Regular_gdi.woff') format('woff'),

		url('../fonts/MyriadPro-Regular_gdi.ttf') format('truetype'),

		url('../fonts/MyriadPro-Regular_gdi.svg#MyriadPro-Regular') format('svg');

	font-weight: 400;

	font-style: normal;

	font-stretch: normal;

	unicode-range: U+0020-25CA;

}





@font-face {

    font-family:'Raleway-Regular';

    src: url('../fonts/Raleway-Regular_gdi.eot');

    src: url('../fonts/Raleway-Regular_gdi.eot?#iefix') format('embedded-opentype'),

    url('../fonts/Raleway-Regular_gdi.woff') format('woff'),

    url('../fonts/Raleway-Regular_gdi.ttf') format('truetype'),

    url('../fonts/Raleway-Regular_gdi.svg#Raleway-Regular') format('svg');

    font-weight: 400;

    font-style: normal;

    font-stretch: normal;

    unicode-range: U+0020-25CA;

}



@font-face {

    font-family:'Raleway-Bold';

    src: url('../fonts/Raleway-Bold_gdi.eot');

    src: url('../fonts/Raleway-Bold_gdi.eot?#iefix') format('embedded-opentype'),

    url('../fonts/Raleway-Bold_gdi.woff') format('woff'),

    url('../fonts/Raleway-Bold_gdi.ttf') format('truetype'),

    url('../fonts/Raleway-Bold_gdi.svg#Raleway-Bold') format('svg');

    font-weight: 700;

    font-style: normal;

    font-stretch: normal;

    unicode-range: U+0020-25CA;

}





@font-face {

    font-family:'Lato-Regular';

    src: url('../fonts/Lato-Regular_gdi.eot');

    src: url('../fonts/Lato-Regular_gdi.eot?#iefix') format('embedded-opentype'),

    url('../fonts/Lato-Regular_gdi.woff') format('woff'),

    url('../fonts/Lato-Regular_gdi.ttf') format('truetype'),

    url('../fonts/Lato-Regular_gdi.svg#Lato-Regular') format('svg');

    font-weight: 400;

    font-style: normal;

    font-stretch: normal;

    unicode-range: U+000D-25CA;

}





@font-face {

    font-family:'MyriadPro-Semibold';

    src: url('../fonts/MyriadPro-Semibold_gdi.eot');

    src: url('../fonts/MyriadPro-Semibold_gdi.eot?#iefix') format('embedded-opentype'),

    url('../fonts/MyriadPro-Semibold_gdi.woff') format('woff'),

    url('../fonts/MyriadPro-Semibold_gdi.ttf') format('truetype'),

    url('../fonts/MyriadPro-Semibold_gdi.svg#MyriadPro-Semibold') format('svg');

    font-weight: 600;

    font-style: normal;

    font-stretch: normal;

    unicode-range: U+0020-25CA;

}



@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Condensed';
    src: url('../fonts/RobotoCondensed-Bold.eot');
    src: url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
    url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.eot');
    src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-black-webfont.woff2') format('woff2'),
    url('../fonts/roboto-black-webfont.woff') format('woff'),
    url('../fonts/roboto-black-webfont.ttf') format('truetype'),
    url('../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium_0-webfont.woff2') format('woff2'),
    url('../fonts/roboto-medium_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Century';
    src: url('../fonts/Century.eot');
    src: url('../fonts/Century.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Century.woff') format('woff'),
    url('../fonts/Century.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {

	padding:0;

	margin:0;

	background:#ffffff;

	overflow-x:hidden;

	font-family:Arial, Helvetica, sans-serif;

}

* {

	padding:0;

	margin:0;

	text-decoration:none;

	list-style:none;

}



p{ margin:0; padding:0;}

a {

	text-decoration:none;

}

a:hover {

	text-decoration:none;

	outline:none;

}

a:visit {

text-decoration:none;

outline:none;

}

a:focus {

	text-decoration:none;

	outline:none;

}

.clear {

	clear:both;

	height:0px;

}



p{ margin:0; padding:0;}



.container-fluid{ margin-left:0px; margin-right:0px; padding-left:0px; padding-right:0px;  }



.container{padding-left:0px; padding-right:0px;}



.row{ margin-left:0px; margin-right:0px; padding-left:0px; padding-right:0px;}



.footerblock{ background: #c5ced0; padding:0 30px; text-align: center; display: block; margin: 0 auto;}

.footerblock ul{ display: block; padding: 20px 0; margin: 0px; text-align: center; width: 100%;  margin: 0 auto;}

.footerblock ul li{ display: inline-block;  float: none;   font-family: 'Roboto-Bold';;}

.footerblock ul li a{ font-size: 14px; color: #363636; text-transform: uppercase;}

.footerblock ul li a:hover{ color: #046c9d;}


.footerblock .active a{ color: #046c9d;}


.footercopyright{ display: block; margin: 14px 0; width: 100%; text-align: center;  border-top: solid 1px #768386; padding:15px 0 0 0; font-size: 13px; color: #1a1919; font-family: arial, sans-serif; overflow: hidden;}


.topheaderblock{ width: 1560px; margin: 0 auto;}

.topheaderblock .toplogo{ width: 258px; float: left; margin: 24px 0;}

.topheaderblock .toplogo img{ width: 100%;}


.topheaderblock .top_right_block{ width: 312px; float: right; margin-top: 35px;}

.topheaderblock .top_right_block .topsignuplink{ width: 130px; height: 30px; background: #ff5400; font-size: 14px; color: #fff!important;  font-family:'OpenSans-Semibold'; text-align: center; line-height: 28px; float: left;}

.topheaderblock .top_right_block .language-div{ width: 160px; float: right;}

.topheaderblock .top_right_block .language-div span{ display: inline-block; line-height: 28px; font-size: 14px; color: #4b4c4c; font-family: arial, sans-serif;}

.topheaderblock .top_right_block .language-div img{ display: inline-block; margin-left: 4px;}

.topheaderblock .topmenu{ width: 946px; float: left; margin: 40px 20px 0 20px;}


.topmenu .navbar{ margin: 0px!important; padding: 0px!important; background:none; border: none; height: auto!important; line-height: inherit!important; min-height: inherit;}

.topmenu .navbar-collapse{ margin: 0px; padding: 0px;}

.topmenu  ul li{ padding:0px; margin: 0px;  background:none;}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{background:none;  }






.topmenu  ul li a{ padding:0 10px; margin: 0 10px;  font-size:16px; color:#4f5050; text-transform: uppercase;   font-family:'OpenSans-Semibold';   line-height:inherit; display:block!important; }



.topmenu  ul li a:hover{ border-bottom: solid 2px #ff6000; color: #046c9d!important }




.topmenu .active a{   border-bottom: solid 2px #ff6000; color: #046c9d!important; }



.responsivemenu{ display:none; }




.topmenu  .navbar-default .navbar-nav > .open > a, .topmenu  .navbar-default .navbar-nav > .open > a:hover, .topmenu .navbar-default .navbar-nav > .open > a:focus{background: #72b626 none repeat scroll 0 0 !important;
    color: #046c9d ;}






.topmenu .dropdown:visited, .topmenu .focus{ color:#adaeae!important;  background: #72b626!important;}


.topmenu .dropdown-menu li{ margin: 0px; padding: 0px; width: 100%;   border-top: solid 1px #82c933; font-size: 14px; color: #046c9d;}




.topmenu .dropdown-menu li a{color: #060606; padding: 12px 5px 14px 5px; text-align: center; background: #72b626;}

.topmenu .dropdown-menu li a:hover{ background: #303030!important; color: #adaeae!important;}



.homeaboutblock{ border-top: solid 6px #ffb900; padding: 40px 0;}

.homeaboutblock h2{ text-align: center; padding:0 0 34px 0; margin: 0px; text-transform: uppercase; font-size: 36px; color: #000000;  font-family: 'robotoblack';}

.homeaboutblock h3{ margin: 0; padding: 0; text-align: center; font-size: 18px; color: #434242;  font-family:'OpenSans-Regular'; line-height: 30px;}


.homeaboutblock .abouthomelink{ width: 211px; height: 61px; border: solid 2px #0892d3; display: block; margin: 8px auto; margin-top: 40px; text-align: center; line-height: 56px; font-family:'OpenSans-Regular'; text-transform:uppercase; font-size: 22px; color: #0892d3!important; }



.homemapblock{ background: url("../images/home_block2bg.jpg") no-repeat center top; background-size: cover; }

.homemapblock h2{ font-size: 36px; color: #ffffff; text-transform: uppercase; text-align: center; font-family: 'robotoblack'; margin: 0; padding: 40px 0 5px 0;}

.homemapblock label{ font-size: 18px; color: #ffffff;  text-align: center;  display:block; font-weight: normal;     font-family: 'Century'; margin: 0; padding: 0;}

.home_page_map{ display: block; margin: 10px auto; max-width: 100%; margin-bottom: 0px;}


.home_page_image_gp{ display: block; margin: 40px auto;}

.mapblockdiv{  padding-bottom:45px;}

 .home_mp_img{ display: none;}

.mapblockdiv h4{ font-family: 'Century'; font-size: 24px; color: #fff; margin: 0 0 10px 0; padding: 0px;}

.mapblockdiv h5{  font-family: "OpenSans-Regular";
    font-size: 14px;
    line-height: 22px; color: #fff; margin: 0; padding: 0px;}


.homeservicesblock{ padding: 40px 0 10px 0;}


.homeservicesblock h2{ font-size: 36px; color: #000000; text-transform: uppercase; text-align: center; font-family: 'robotoblack'; margin: 0; padding: 0 0 36px 0;}

.homeservicesblock .serviblockdiv{ padding-bottom: 40px;}

.homeservicesblock .serviblockdiv img{ display: block; margin: 0 auto; width: 100%;}

.homeservicesblock .serviblockdiv h3{ font-size: 36px ;color: #000000;   font-family: 'Century'; font-style: italic; margin: 0px;  background: url("../images/homeservice_border.jpg")repeat-y left top; padding:2px 0 2px 8px;}

.homeservicesblock .serviblockdiv h4{  color: #434242; padding: 0px; margin: 19px 0;
    font-family: "OpenSans-Regular";
    font-size: 17px;
    line-height: 28px;}


.homeservicesblock .serviblockdiv .serviceshomelink{ width: 298px; height: 61px; border: solid 2px #0892d3; display: block; float: right;  text-align: center; line-height: 56px; font-family:'OpenSans-Regular'; text-transform:uppercase; font-size: 22px; color: #0892d3!important;}


.homevisionblock{ background: url("../images/home_vision_bg.jpg") no-repeat center top; background-size: cover; padding: 40px 0; }

.homevisionblock h2{ font-size: 36px; color: #ffffff; text-transform: uppercase; text-align: center; font-family: 'robotoblack'; margin: 0; padding: 0 0 38px 0;}


.homevisionblock h3{color: #fff;
    font-family: "OpenSans-Regular";
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: center; text-shadow: 0 0 4px #000;}


.homebusinessblock{background: url("../images/home_vision_bg.jpg") no-repeat center top; background-size: cover; padding: 150px 0; }

.homebusinessblock .container{ width: 1000px; margin: 0 auto;}
.homebusinessblock br{ display: none;}
.homebusinessblock .bslink1{ width: 400px; height: 96px; border: solid 2px #fff; display: block; float: left;  text-align: center; line-height: 90px; font-family:'OpenSans-Regular'; font-size: 30px; color: #fff!important; text-shadow: 0 0 4px #000;}
.homebusinessblock .bslink2{ width: 400px; height: 96px; border: solid 2px #fff; display: block; float: right;  text-align: center; line-height: 90px; font-family:'OpenSans-Regular'; font-size: 30px; color: #fff!important; text-shadow: 0 0 4px #000;}



.homefooterblock{ background: url("../images/home_bottomblock.jpg") no-repeat center top; background-size: cover; padding: 40px 0 50px 0; }

.homefooterblock h3{color: #fff;
    font-family: "OpenSans-Regular";
    font-size: 30px;
    line-height: 45px;
    margin: 0;
    padding: 0;
    text-align: center; text-shadow: 0 0 4px #000;}



.homefooterblock .homefooterblocklink{ width: 400px; height: 96px; border: solid 2px #fff; display: block;  text-align: center; line-height: 90px; font-family:'OpenSans-Regular'; font-size: 30px; color: #fff!important; text-shadow: 0 0 4px #000; margin: 0 auto; margin-top: 40px;}


.homecontactblock{ padding:46px 0 50px 0;}

.homecontactblock h2{ margin: 0;     padding: 0 0 34px 0;   color: #000000;
    font-family: "robotoblack";
    font-size: 36px;
    margin: 0;

    text-align: center;
    text-transform: uppercase;}

.homecontactblock h3{ color: #434242;
    font-family: "OpenSans-Regular";
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;}


.homecontactwrapper{ padding-top: 40px;}

.homecontactwrapper h4{ margin: 0;  padding:0 0 50px 0;   color: #000000;
    font-family: "robotoblack";
    font-size: 22px;
    margin: 0;

    text-align: left;
    text-transform: uppercase;}

.homecontactwrapper .homecontact_left ul li { margin-bottom: 20px; padding-left: 40px;}

.homecontactwrapper .homecontact_left  ul li strong{ font-size: 18px; color: #000000;   font-family: "robotoblack"; padding-right: 6px; text-transform: uppercase;}

.homecontactwrapper .homecontact_left  ul li span{ font-family: "OpenSans-Regular";
    font-size: 16px; color: #000000;}

.homecontactwrapper .homecontact_left  ul li a{  color: #000000;}

.homecontactwrapper .homecontact_left  ul li:nth-child(1){ background: url("../images/home_icon1.jpg") no-repeat center left;}

.homecontactwrapper .homecontact_left  ul li:nth-child(2){ background: url("../images/home_icon2.jpg") no-repeat center left;}

.homecontactwrapper .homecontact_left  ul li:nth-child(3){ background: url("../images/home_icon3.jpg") no-repeat center left;}

.homecontactwrapper .homecontact_left  ul li:nth-child(4){ background: url("../images/home_icon4.jpg") no-repeat center left;}


.homesocialdiv{ margin-top: 110px;}

.homesocialdiv h6{ font-size: 18px; color: #000000;   font-family: "robotoblack";  text-transform: uppercase; margin: 0px; padding: 0 0 30px 0;}


.homesocialdiv br{ display: none;}

.homesocialdiv  a{ display: inline-block; margin-right: 10px;}

.homecontactform{ width:100%;}

.homecontactwrapper .form-group,.homecontactwrapper .form-group2 { margin-bottom:20px;}
.homecontactwrapper .form-group .form-control{ border-radius: 0px; height: 54px; padding:0 10px; font-size: 14px; color: #47484a;  font-family: "OpenSans-Regular"; border: solid 1px #c6c6c6; box-shadow: none;}

.homecontactwrapper .form-group2 .form-control{ border-radius: 0px; height: 140px; padding:10px; font-size: 14px; color: #47484a;  font-family: "OpenSans-Regular"; border: solid 1px #c6c6c6; box-shadow: none; resize: none;}


.homecontactwrapper  .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 opacity: 10; text-transform: uppercase;
}
.homecontactwrapper   .form-control::-moz-placeholder { /* Firefox 19+ */
    opacity: 10; text-transform: uppercase;
}
.homecontactwrapper   .form-control:-ms-input-placeholder { /* IE 10+ */
    opacity: 10; text-transform: uppercase;
}
.homecontactwrapper   .form-control:-moz-placeholder { /* Firefox 18- */
    opacity: 10; text-transform: uppercase;
}

.homecontactwrapper .homesubbtn { width: 100%; height: 50px; background: #fff;  border-radius: 0px; box-shadow: none; cursor: pointer; border: solid 2px #7d7d7d; font-size: 18px; color: #000000; font-family: "robotoblack"; text-transform: uppercase;}


.screen-reader-response,.wpcf7-response-output{ display: none;}


.wpcf7-not-valid-tip{ font-size: 12px; color: #ff0000;}



.home_tesand_faq_block{ padding: 40px 0;}


.home_tesand_faq_block h2{margin: 0;     padding: 0 0 34px 0;   color: #1e1e20;
    font-family: "robotoblack";
    font-size: 36px;
    margin: 0;
 text-transform: uppercase;}


.hometestimonialblock ul{ margin: 0; padding: 0px;}

.hometestimonialblock ul li{background: url("../images/home_testimonialborder.png") no-repeat  left bottom; padding-bottom: 30px; margin-bottom: 30px;}

.hometestimonialblock ul li:last-child{ padding-bottom: 0px; margin-bottom: 0px; background: none;}

.hometestimonialblock ul li .hometestimonial_img{ display: block; float: left; width: 100px; height: 100px; overflow: hidden;}

.hometestimonialblock ul li .hometestimonial_img img{ max-width: 100%; border-radius: 100px; display: block; margin: 0 auto;}


.hometestimonialblock ul li  .hometestimonial_text{ font-weight: normal; display: block; float: right; padding-left: 25px; width: 450px; font-size: 14px; color: #1e1e20; font-style: italic; line-height: 22px;  font-family: "OpenSans-Regular";}

.hometestimonialblock ul li  .hometestimonial_text strong{ color: #000; font-style: normal; display: block; padding-top: 20px;}


.home_tesand_faq_block .homefaqlink{border: 2px solid #0892d3;
    color: #0892d3 !important;
    display: block;
    font-family: "OpenSans-Regular";
    font-size: 16px;
    height: 46px;
    line-height: 40px;
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    width: 150px; float: right;}


.homefaqwrapper{ background: #e9ebed; padding: 5px;}
.homefaqwrapper .panel-default{ margin-bottom: 10px; border: solid 1px #c7c7c7;}

.homefaqwrapper .panel-default:last-of-type{ margin-bottom: 0px;}

.homefaqwrapper .panel-default h4{ margin: 0px; padding: 0px; font-size: 14px; color: #434242; font-family:'OpenSans-Semibold';}

.homefaqwrapper .panel-default h4 a{color: #434242; border-bottom: solid 1px #c7c7c7; display: block;  background: url("../images/homefaq_icon2.png") no-repeat  14px center; padding-left: 40px;     line-height: 24px;}


.homefaqwrapper .panel-default h4 a span{ border-left: solid 1px #c7c7c7; display: block; padding: 10px; }


.homefaqwrapper .panel-default br{ display: none;}

.homefaqwrapper  .panel-collapse{ font-family: "OpenSans-Regular"; font-size: 14px; color: #434242; padding: 10px;}


.homebannerblock{border-top: 6px solid #ffb900; position: relative; overflow: hidden;}

.homebannerslider p{ margin: 0px; padding: 0px;}


.homebannerslider p br{ display: none;}


.homebannertextblock{ background: url("../images/homebannertextbg.png") no-repeat  left center; position: absolute; top: 0px; left: 8%; width: 1071px; height: 902px; }

.homebannertextblock h2{ width: 784px; margin: 150px 0 0 98px; border-left: solid 2px #55657d; font-size: 60px; color: #ffffff; font-family: 'Roboto-Bold'; padding:0 0 0 18px;}


.homebannertextblock h3{ width: 700px; margin: 40px 0 0 174px; padding: 0px; font-size: 24px; color: #ffffff; line-height: 36px;  font-family: "OpenSans-Regular";}


.homebannertextblock .homebannerlink{  border: 2px solid #fff;
    color: #fff !important;
    display: block;

    font-family: "OpenSans-Regular";
    font-size: 22px;
    height: 60px;
    line-height: 54px;
    text-align: center;
    text-shadow: 0 0 4px #000;
    width: 206px; text-transform: uppercase; margin: 60px 0 0 194px;}
	
	
	
	/*-----------------about us -------------*/
	
	
	.aboutbannerblock{ width:100%; border-bottom:solid 6px #ffb900; border-top:solid 6px #ffb900; overflow:hidden;}
	
		.aboutbannerblock .about_bannerimg{ width:1920px;}

		.aboutbannerblock .dailylinks_bannerimg{ width:1920px;}


		.aboutbannerblock .contactusbanner{ width:1920px;}


.aboutbannerblock .servicesbanner{ width:1920px;}



.aboutbannerblock .informationalbanner{ width:1920px;}


		
	.about_text_block1{ padding:45px 0; border-bottom:solid 1px #cbcbcb;}	
		.about_text_block1 .about_img1{ width:353px; float:left;}
		
		.about_text_block1  .about_block1_text{ width:790px; float:right; background:url(../images/about_devider.jpg) no-repeat left 8px; padding-left:22px; font-size:17px; color:#3f4040;  font-family:'OpenSans-Regular'; line-height:30px; margin-top:-8px;}
		
		
		.about_block1_link{ width:280px; height:72px; border-radius:4px; float:right; margin-top:0px;
background: rgba(255,114,6,1);
background: -moz-linear-gradient(top, rgba(255,114,6,1) 0%, rgba(255,64,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,114,6,1)), color-stop(100%, rgba(255,64,0,1)));
background: -webkit-linear-gradient(top, rgba(255,114,6,1) 0%, rgba(255,64,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,114,6,1) 0%, rgba(255,64,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,114,6,1) 0%, rgba(255,64,0,1) 100%);
background: linear-gradient(to bottom, rgba(255,114,6,1) 0%, rgba(255,64,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7206', endColorstr='#ff4000', GradientType=0 ); padding:2px;  -webkit-box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.75);
box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.75); font-size:26px; color:#ffffff;
}

		.about_block1_link a{ display:block; background:url(../images/about_btn_arrow.png) no-repeat 224px center; border:solid 1px #ff7145; border-top:solid 1px #ff9a49; border-radius:4px; width:100%; height:100%;  font-family:'OpenSans-Semibold'; color:#fff; text-shadow:0 2px 8px #000; line-height:60px; padding-left:14px;}
		
		
		
		

		
		
	.about_text_block2{ padding:0 0 45px 0; }	
		.about_text_block2 .about_img2{ width:353px; float:right; margin-top:45px;}
		
		.about_text_block2 .about_img3{ width:353px; float:left; margin-top:42px;}
		
		.about_text_block2  .about_block2_text{ width:790px; float:left; background:url(../images/about_devider.jpg) no-repeat left 10px; padding-left:22px; font-size:17px; color:#3f4040;  font-family:'OpenSans-Regular'; line-height:30px; margin-top:34px;}
		
		
		
			.about_text_block2  .about_block3_text{ width:790px; float:right; background:url(../images/about_devider.jpg) no-repeat left 10px; padding-left:22px; font-size:17px; color:#3f4040;  font-family:'OpenSans-Regular'; line-height:30px; margin-top:34px;}
		
		
		
		.about_block2_link{ width:226px; height:72px; border-radius:4px; float:right; margin-top:0px;
background: rgba(255,114,6,1);
background: -moz-linear-gradient(top, rgba(255,114,6,1) 0%, rgba(255,64,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,114,6,1)), color-stop(100%, rgba(255,64,0,1)));
background: -webkit-linear-gradient(top, rgba(255,114,6,1) 0%, rgba(255,64,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,114,6,1) 0%, rgba(255,64,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,114,6,1) 0%, rgba(255,64,0,1) 100%);
background: linear-gradient(to bottom, rgba(255,114,6,1) 0%, rgba(255,64,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7206', endColorstr='#ff4000', GradientType=0 ); padding:2px;  -webkit-box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.75);
box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.75); font-size:26px; color:#ffffff;
}

		.about_block2_link a{ display:block; background:url(../images/about_btn_arrow.png) no-repeat 164px center; border:solid 1px #ff7145; border-top:solid 1px #ff9a49; border-radius:4px; width:100%; height:100%;  font-family:'OpenSans-Semibold'; color:#fff; text-shadow:0 2px 8px #000; line-height:60px; padding-left:14px;}

.about_text_block1  .about_block1_text span{ padding-bottom: 40px; display: inline-block;}

.about_text_block2  .about_block2_text span{ padding-bottom: 40px; display: inline-block;}
.about_text_block2  .about_block3_text span{ padding-bottom: 40px; display: inline-block;}


.footerblock .nav{ padding-top: 0px; padding-bottom: 0px; margin: 14px 0;}

.footerblock .nav a{ padding-top: 8px; padding-bottom: 8px; background: none!important; }



.dailylinks_blockcon{ width: 1028px; border:solid 4px #d7d9da; border-radius: 10px; padding: 13px; margin: 40px auto;}

.dailylinks_blockcon .dailylinks_banner2img{ width: 100%; border-radius: 5px 5px 0 0;}


.dailylinks_blockcon .dailylinksblockdiv{ padding:10px 30px 30px 30px;}

.dailylinks_blockcon .dailylinksblockdiv h2{ margin: 0; padding: 20px 0 5px 0; font-size: 24px; color: #212222;  font-family: 'robotoblack';}

.dailylinks_blockcon .dailylinksblockdiv a{ margin: 0; padding: 0; font-size: 18px; color: #525252;  font-family: "OpenSans-Regular";}
.dailylinks_blockcon .dailylinksblockdiv a:hover{ color: #ff3c00;}


.dailylinks_blockcon .dailylinksblockdiv h1{ margin: 0; padding: 20px 0 0px 0; font-size: 30px; color: #ff3c00;  font-family: 'robotoblack';}

.dailylinks_blockcon .dailylinksblockdiv h3{ margin: 0; padding: 66px 0 0px 0; font-size: 30px; color: #ff3c00;  font-family: 'robotoblack';}


.contact_form_wrapper{ margin: 40px auto;}

.contact_form_wrapper .contact_form_row1{ margin: 0 0.5%;}

.contact_form_wrapper .contact_form_row1 .contact_address{ border-left:solid 2px #ff0000; min-height: 180px; font-size: 20px; color: #000000;  font-family:'OpenSans-Semibold';}

.contact_form_wrapper .contact_form_row1 .contact_address span{ padding: 0 0 10px 0; display: block;}
.contact_form_wrapper .contact_form_row1 .contact_address br{ display: none;}

.contact_form_wrapper .contact_form_row1 .contact_address a{color: #000000;}


.contact_form_row2{ margin-top: 40px;}

.contact_form_row2 h2{ padding: 0 0.5% 28px 0.5%; margin: 0px; font-size: 36px; color: #1c1c1c; text-transform: uppercase;     font-family: 'Roboto-Bold';}

.contact_form_row2 h2 span{ font-size: 18px; display: inline-block;}

.contact_form_row2 .form-group{ width: 32.3%; float: left; margin: 0 0.5%; margin-bottom: 20px;}

.contact_form_row2 .form-group .form-control{ width: 100%; border-radius: 0px; box-shadow: none; height: 44px; border: solid 1px #bab9b9; padding: 0 10px; font-size: 14px; color: #000;  font-family:'OpenSans-Regular';}


.contact_form_row2 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000; opacity:10;
}
.contact_form_row2 ::-moz-placeholder { /* Firefox 19+ */
    color: #000; opacity:10;
}
.contact_form_row2 :-ms-input-placeholder { /* IE 10+ */
    color: #000; opacity:10;
}
.contact_form_row2 :-moz-placeholder { /* Firefox 18- */
    color: #000; opacity:10;
}


.form-group_ckbox{ margin: 0 0.5%;}

.form-group_ckbox strong{ display: inline-block; float: left; font-size: 14px; color: #000000;  font-family:'OpenSans-Semibold';}

.form-group_ckbox .ckbox_div{ width: 135px; float: left; margin: 0 0px 20px 20px;}

.form-group_ckbox .ckbox_div input[type="checkbox"]{ width: 20px; float: left;}
.form-group_ckbox .ckbox_div label{ display: inline-block; float: left; padding-left: 8px; font-size: 14px; color: #000000; font-family:'OpenSans-Regular'; font-weight: normal;}


.contact_form_row2 .form-group2{  padding: 0 0.5%; margin-bottom: 24px;}

.contact_form_row2 .form-group2 .form-control2{ width: 100%; border-radius: 0px; box-shadow: none; height: 144px; border: solid 1px #bab9b9; padding: 10px; font-size: 14px; color: #000;  font-family:'OpenSans-Regular'; resize: none;}


.form-group_ckbox2{ width: 208px; margin: 0 auto;}

.form-group_ckbox2  input[type="checkbox"]{ width: 20px; float: left;}
.form-group_ckbox2  label{ display: inline-block; float: left; padding-left: 8px; font-size: 14px; color: #000000; font-family:'OpenSans-Regular'; font-weight: normal;}


.form-group_btn{ width: 308px; margin: 0 auto; margin-top: 18px;}

.form-group_btn input{ width: 150px; margin: 0 2px; display: block; float: left; border: solid 2px #028fd2; border-radius: 0px; background: #fff; cursor: pointer; padding:14px 0; font-size: 24px; color: #028fd2; text-transform: uppercase; font-family:'OpenSans-Regular';}

.form-group_btn br{ display: none;}



.services_blockwrapper{ padding: 45px 0; padding-top: 0px;}

.services_blockwrapper  .about_text_block2{ padding: 0px;}


.services_text_block3{ background: #dedfe0;  border: solid 10px #b7bfc7; margin: 45px auto;}

.services_text_block3 .col-md-6{ height: 208px; border: solid 1px #b7bfc7; display: table;  margin: 0; padding:0;}

.services_text_block3 .col-md-6 table{  margin: 0; padding:0px;}

.services_text_block3 .col-md-6 .sr_ingtd{ width: 188px; padding:10px;}

.services_text_block3 .col-md-6 .sr_texttd .ser_tdtext{ padding: 20px 40px; text-align: left; font-size: 14px; color: #121212; font-family:'OpenSans-Regular';}

.services_text_block3 .col-md-6 .sr_texttd .ser_tdtext strong{ font-size: 24px; color: #f03e03; font-family:'OpenSans-Semibold'; text-transform: uppercase;}

.services_text_block3 .col-md-6 .sr_texttd .ser_tdtext span{ display: block;}


.h2text1{ font-size: 36px; color: #2c2c2c; margin: 0; padding: 0 0 10px 0;    font-family:'Raleway-Bold'; text-transform: uppercase;}




.servises_block2_link{ width:454px; height:72px; border-radius:4px; float:right; margin-top:0px;
    background: rgba(255,114,6,1);
    background: -moz-linear-gradient(top, rgba(255,114,6,1) 0%, rgba(255,64,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,114,6,1)), color-stop(100%, rgba(255,64,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,114,6,1) 0%, rgba(255,64,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,114,6,1) 0%, rgba(255,64,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,114,6,1) 0%, rgba(255,64,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,114,6,1) 0%, rgba(255,64,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7206', endColorstr='#ff4000', GradientType=0 ); padding:2px;  -webkit-box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 9px -4px rgba(0,0,0,0.75); font-size:26px; color:#ffffff;
}

.servises_block2_link a{ display:block; background:url(../images/about_btn_arrow.png) no-repeat 396px center; border:solid 1px #ff7145; border-top:solid 1px #ff9a49; border-radius:4px; width:100%; height:100%;  font-family:'OpenSans-Semibold'; color:#fff; text-shadow:0 2px 8px #000; line-height:64px; padding-left:14px;}


.servisesmiddleblock{ margin: 0; background: url("../images/ser_middle_bg.jpg") no-repeat center top; background-size: cover;}

.servisesmiddleblock .servisesmiddleblock_wrapper{ margin: 70px auto; background: #fff;  padding: 24px; box-shadow: 0 0 8px #888;}


.servisesmiddleblock_text1{ width:790px;  background:url(../images/about_devider.jpg) no-repeat left 10px; padding-left:22px; font-size:17px; color:#3f4040;  font-family:'OpenSans-Regular'; line-height:30px; }

.servisesmiddleblock_text1 p{ padding-top:10px;}


.servisesmiddleblock_img1{ width: 291px;}



.informational_h2text{ margin: 0; padding: 0 10px; margin-top: 45px; text-align: center; text-transform: uppercase; font-size: 36px; color: #0f0f0f; font-family:'OpenSans-Semibold';}


.informational_block1{ padding-top: 45px;}

.informational_block1 tr{ border-bottom: solid 5px #fff;  }

.informational_block1 td{ background: #ededed;   font-size: 20px; color: #212121; text-transform: uppercase; font-family:'OpenSans-Semibold'; }


.informational_block1 td strong{ display: block;  text-align: left; background:  url(../images/Informational_textarrow.png) no-repeat 20px center; padding: 16px;  padding-left: 50px; }

.informational_block1 td span{ display: block;  text-align: right; font-size: 14px; color: #ff5400; text-transform: none;  padding: 20px 16px; }

.informational_block1 td span a{ color: #ff5400;}



.informational_block2{  margin-top: 45px; border-bottom: solid 1px #c3c3c3; padding-bottom: 25px;}

.informational_block2 .Informational_img2{ display: block; margin: 0 auto; max-width: 100%;}


.informational_block3{ padding: 45px 0;}

.informational_block3 h3{ margin: 0; padding: 0 10px; text-align: center; text-transform: uppercase; font-size: 36px; color: #0f0f0f; font-family:'OpenSans-Semibold'; }

.informational_block3 h4{ margin: 0; padding: 20px 10px; text-align: center;  font-size: 14px; color: #6f6f6f; font-family:'OpenSans-Semibold'; line-height: 24px;  }

.informational_block3 h4 a{ color: #de6122; text-decoration: none;}

.informational_block3 h4 a:hover{ text-decoration: underline;}


.informational_block3 h5{ margin: 0; padding: 0 10px; text-align: center;  font-size: 18px; color: #0267a1; font-family:'OpenSans-Semibold'; line-height: 24px;  }


.informational_block3 table{ margin-top: 40px;}

.informational_block3 table th{ text-align: center; background: #ffb900; font-size: 22px; color: #ffffff; font-family:'OpenSans-Semibold';  text-transform: uppercase; padding: 10px 5px; border: solid 1px #fff; border-bottom: solid 12px #fff;}

.informational_block3 table td{ text-align: center; background: #dfdfdf; font-size: 20px; color: #000000; font-family:'OpenSans-Semibold';  text-transform: uppercase; padding: 10px 5px; border: solid 1px #fff; }

.informational_block3 table td span{ font-size: 14px; color: #717171; text-transform:none;}

.informational_block3 table td:nth-of-type(1){ background: #028fd2; color: #fff;}

.informational_block3 table td:nth-of-type(2){ background: #c3c3c3; }


.reportblock1{ padding: 45px 0;}

.reportblock1 h1{ margin: 0; padding: 0 10px; text-align: center; text-transform: uppercase; font-size: 36px; color: #0f0f0f; font-family:'OpenSans-Semibold'; }

.reportblock1 h2{ margin: 35px 0 0 0; padding: 0 10px; text-align: center;  font-size: 18px; color: #585858; font-family:'OpenSans-Semibold'; line-height: 24px;  }

.reportblock2{ border-top: solid 1px #bab9b9;}

.reportblock2 h4{ padding: 20px 0; font-size: 18px; color: #000000; font-family:'OpenSans-Semibold';}

.reportblock2 table{ border: solid 1px #bab9b9;}


.reportblock2 .reportselectopton{ width: 100%; border: none; border: solid 1px #bab9b9; border-bottom: none;   display: block; font-size: 14px; color: #000000;  font-family:'OpenSans-Regular'; padding: 0 5% 0 10px; height: 45px; background:url(../images/selectbg.png) no-repeat 99% center ;  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;}

.reportblock2 .reportselectopton option{ padding: 5px;}

.reportblock2 td{border: solid 1px #bab9b9; height: 180px; font-size: 18px; font-family:'OpenSans-Semibold'; color: #302f2f; line-height: 28px;}

.reportblock2 td strong{ font-size: 20px; color: #025f94;}


.reporth6text{ width: 100%; background: #0267a1; text-align: center; padding: 40px 10px; font-size: 30px; color: #ffffff; font-family:'OpenSans-Semibold'; margin: 0px;}

.reportblock3{ position: relative; margin-top: 20px; margin-bottom: 45px; border: solid 1px #bab9b9;}

.reportblock3 iframe{ width: 100%;}

.reportblock3 .map_topblock{ position: absolute; top: 0; left: 0; border-right: solid 1px #bab9b9; border-bottom: solid 1px #bab9b9; background: #fff; padding: 15px; width: 280px;}

.reportblock3 .map_topblock h2{ margin: 0; padding: 0; font-size: 30px; text-transform: uppercase; font-family:'OpenSans-Regular'; color: #0267a1;}

.reportblock3 .map_topblock strong{ display: block; padding: 10px 0 10px 20px; font-family:'OpenSans-Regular'; color: #000; font-size: 16px; font-weight: normal;}

.reportblock3 .map_topblock span{ display: block; margin: 0px 0 4px 20px; font-family:'OpenSans-Regular'; color: #000; font-size: 14px; font-weight: normal; padding: 0 0 0 50px;}

.reportblock3 br{ display: none;}

.reportblock3 .map_topblock .span1{  background:url(../images/mapicon5.jpg) no-repeat left top; }
.reportblock3 .map_topblock .span2{  background:url(../images/mapicon4.jpg) no-repeat left top; }
.reportblock3 .map_topblock .span3{  background:url(../images/mapicon3.jpg) no-repeat left top; }
.reportblock3 .map_topblock .span4{  background:url(../images/mapicon2.jpg) no-repeat left top; }
.reportblock3 .map_topblock .span5{ background:url(../images/mapicon1.jpg) no-repeat left top; }

.topheaderblock .topmenu li.ssd.lidiv7, .topheaderblock .topmenu li.ssd.lidiv8{
    display: none;
}



/*----formblock------*/

@media screen
{
    .fromwrapper{
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: 6px solid #ffb900;
    }

    .fromwrapper form  {
        margin: auto;
        position: relative;
        width: 595px;
        height: 842px;
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 14px;
        line-height: 22px;
        color: #141414;
        text-decoration: none;
        border-radius: 0px;
        padding: 3px 20px;
        border: 1px solid #999;
        -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
        background: #fff;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .fromwrapper2 form  {
        width: 595px;
        height: 852px;
        line-height: 20px !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .fromwrapper2 form.form-horizontal .form-group{
        margin-bottom: 4px !important;
    }

    .fromwrapper2 form.form-horizontal .form-group h2{
        font-size: 17px;
        line-height: 18px;
        margin: 10px 0 0px !important;
    }

    .fromwrapper form.form-horizontal .control-label {
        text-align: left;
        padding: 0px;
        font-weight: normal;
        display: inline;
    }

    .fromwrapper form.form-horizontal label.control-label + br{
        display: none;
    }
    .fromwrapper form.form-horizontal .form-group{
        margin-bottom: 6px;
    }

    .fromwrapper form.form-horizontal .form-group div {
        padding: 0px;
    }
    .fromwrapper form.form-horizontal .form-group div input {
        border: none !important;
        box-shadow: none !important;
        transition: none !important;
        border-bottom: 1px solid #000 !important;
        border-radius: 0 !important;
        height: 20px !important;
        background-color: transparent;
        padding: 0px !important;
    }
    .fromwrapper form.form-horizontal div span{
        font-size: 11px;
        line-height: 18px;
    }
    .fromwrapper form.form-horizontal .form-group h2{
        font-size: 17px;
        margin: 0 !important;
        text-align: center;
        border-top: 2px solid #000;
        line-height: 20px;
        padding-top: 6px;
    }

    .fromwrapper form.form-horizontal .form-group .hrlinedividerform{
        background: #000;
        width:100%;
        height: 2px;
        display: block;
        margin-top: 8px;
        margin-bottom: 4px;
        float: left;
    }
    .printlogowrapper{
        width:75px;
        height: auto;
        margin: 0;
    }
    .printlogowrapper img{
        max-width: 100%;
        display: block;
        border: 0px;
    }
    .fromwrapper form.form-horizontal .form-group div p{
        text-align: right;
        padding-top: 12px;
    }

    .topheaderblock .toplogo {
        float: none;
        margin: 20px auto;
        width: 258px;
    }

    .fromwrapper form.form-horizontal .control-label span.choose {
        font-size: 14px;
        line-height: 22px;
        display: inline;
        margin-left: 25px;
    }
    .fromwrapper2 form.form-horizontal .control-label h3  {
        font-size: 14px;
        line-height: 22px;
        position: relative;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .fromwrapper2 form.form-horizontal .control-label h3:after{
        content: '';
        width:150px;
        background: #000;
        position: absolute;
        left: 0;
        bottom:0;
        height: 1px;
    }

}


@media print
{
    /*.fromwrapper{*/
        /*margin-top: 10px;*/
        /*margin-bottom: 10px;*/
    /*}*/
    .fromwrapper form  {
        margin: auto;
        position: relative;
        width: 595px;
        height: 842px;
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 14px;
        line-height: 22px;
        color: #141414;
        text-decoration: none;
        border-radius: 0px;
        padding: 3px 20px;
        border: 1px solid #999;
        -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
        background: #fff;
    }

    .fromwrapper2 form  {
        width: 595px;
        height: 852px;
        line-height: 20px !important;
    }
    .fromwrapper2 form.form-horizontal .form-group{
        margin-bottom: 0px !important;
    }

    .fromwrapper2 form.form-horizontal .form-group h2{
        font-size: 17px;
        line-height: 18px;
        margin: 10px 0 0px !important;
    }

    .fromwrapper form.form-horizontal .control-label {
        text-align: left;
        padding: 0px;
        font-weight: normal;
        display: inline;
    }

    .fromwrapper form.form-horizontal label.control-label + br{
        display: none;
    }
    .fromwrapper form.form-horizontal .form-group{
        margin-bottom: 2px;
    }

    .fromwrapper form.form-horizontal .form-group div {
        padding: 0px;
    }
    .fromwrapper form.form-horizontal .form-group div input {
        border: none !important;
        box-shadow: none !important;
        transition: none !important;
        border-bottom: 1px solid #000 !important;
        border-radius: 0 !important;
        height: 20px !important;
        background-color: transparent;
        padding: 0px !important;
    }
    .fromwrapper form.form-horizontal div span{
        font-size: 11px;
        line-height: 18px;
    }
    .fromwrapper form.form-horizontal .form-group h2{
        font-size: 17px;
        margin: 0 !important;
        text-align: center;
        border-top: 2px solid #000;
        line-height: 20px;
        padding-top: 6px;
    }

    .fromwrapper form.form-horizontal .form-group .hrlinedividerform{
        background: #000;
        width:100%;
        height: 2px;
        display: block;
        margin-top: 8px;
        margin-bottom: 4px;
        float: left;
    }
    .printlogowrapper{
        width:75px;
        height: auto;
        margin: 0;
    }
    .printlogowrapper img{
        max-width: 100%;
        display: block;
        border: 0px;
    }
    .fromwrapper form.form-horizontal .form-group div p{
        text-align: right;
        padding-top: 12px;
    }

    .topheaderblock .topmenu {
        display: none;
    }
    .topheaderblock .toplogo {
        float: none;
        margin: 20px auto;
        width: 258px;
    }

    .footerblock {
        display: none;
    }
    .topheaderblock .top_right_block{
        display: none;
    }
    .topheaderblock .toplogo{
        display: none;
    }
    .topheaderblock {
        display: none;
    }
    .fromwrapper form.form-horizontal .control-label span.choose {
        font-size: 14px;
        line-height: 22px;
        display: inline;
        margin-left: 25px;
    }
    .fromwrapper2 form.form-horizontal .control-label h3  {
        font-size: 14px;
        line-height: 22px;
        position: relative;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .fromwrapper2 form.form-horizontal .control-label h3:after{
        content: '';
        width:150px;
        background: #000;
        position: absolute;
        left: 0;
        bottom:0;
        height: 1px;
    }
}



.form-group_ckbox .energytype .wpcf7-list-item{ width: 135px; float: left; margin: 0 0px 20px 20px;}

.form-group_ckbox .energytype .wpcf7-list-item input[type="checkbox"]{ width: 20px; float: left;}
.form-group_ckbox .energytype .wpcf7-list-item span{ display: inline-block; float: left; padding-left: 8px; font-size: 14px; color: #000000; font-family:'OpenSans-Regular'; font-weight: normal;}

.form-group_ckbox .sevicetype .wpcf7-list-item{ width: 135px; float: left; margin: 0 0px 20px 20px;}

.form-group_ckbox .sevicetype .wpcf7-list-item input[type="checkbox"]{ width: 20px; float: left;}
.form-group_ckbox .sevicetype .wpcf7-list-item span{ display: inline-block; float: left; padding-left: 8px; font-size: 14px; color: #000000; font-family:'OpenSans-Regular'; font-weight: normal;}
